
venv/
.venv/
env/
CONTEXT.md
DATABASE_SCHEME.md
API_ENDPOINT.md
FEATURES_LOGIC.md


**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


.env
app/seed_admin.py
app/test_imports.py

.DS_Store
Thumbs.db

dockerfile